html {
  font: $font;
}
body {
  background: $white-color;
}
*, button {
    box-sizing: border-box;

    &:focus,
    &:active {
        outline: none;
    }
}

a {
    transition: all .2s ease-in-out;

    &.like-text {
      color: $main-dark-color;
      text-decoration: none;
    }
    &.-smaller {
      font-size: .9rem;
    }
}
p {
    color: $main-dark-color;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

strong {
  font-weight: $fw-bold;
}
b {
  font-weight: $fw-bold;
}
i {
  font-style: italic;
}
