input[type="text"],
input[type="search"],
input[type="number"],
select,
textarea {
  padding: 10px;
  height: $input-height;
  border: 1px solid $main-gray-color;
  line-height: 20px;
  border-radius: 0;
  color: $main-dark-color;
  font-size: .8rem;
  width: 100%;
  background: none;
  appearance: none;
}
input[type="number"] {
  width: 90px;
}
textarea {
  height: 100px;
  resize: none;
  display: block;
}
button {
  cursor: pointer;
}
.input-block {
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  > .element {
    border: 1px solid $main-gray-color;
    height: 40px;
    line-height: 20px;
    font-size: .9rem;
    padding: 0 10px;
    background: $white-color;

    &.-inline {
      width: 160px;
    }
  }

  &.-with-label {
    padding-left: $label-width + 8px;
    position: relative;

    > .label {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: $label-width;
      font-family: $font-second;
      font-size: 1rem;
      font-weight: $fw-semi-bold;
      line-height: $input-height;
      text-align: right;

      &.-lightnes {
        color: lighten($main-dark-color, 30);
        font-weight: $fw-light;
      }

      &.-require {
        &::after {
          content: "*";
          color: $main-color;
        }
      }
    }
  }
}

.textarea-block {
  @extend .input-block;

  &.-indent {
    padding-left: $label-width + 8px;
  }
  > .element {
    height: 100px;
    background: $white-color;
    resize: none;
  }
}

.number-block {
  @extend .input-block;

  &.-range {
    font-size: 0;
    > .element {
      width: 45%;
      display: inline-block;
    }
    > .rangeDash {
      display: inline-block;
      width: 10%;
      font-size: 1rem;
      text-align: center;
    }
  }
  > .element {

  }
}
.select-block {
  @extend .input-block;
  background: $white-color;

  &.-indent {
    padding-left: $label-width + 8px;
  }
  &.-static-width {
    width: 270px;
  }

  &::after {
    content: "\f078";
    font-family: $font-icon;
    border: none;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 40px;
    width: 20px;
    text-align: center;
    font-size: 1rem;
    color: $main-color;
    z-index: 1;
  }

  > .element {
    background: none;
    padding-right: 40px;
    position: relative;
    z-index: 2;
  }
}

.radio-block {
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  > .element {
    display: none;

    &:checked {
      ~ .ico {
        border-color: $main-color;

        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $main-color;
          @include center(both);
        }
      }
    }
  }
  > .label {
    font-family: $font-second;
    font-size: 1rem;
    color: $main-dark-color;
    padding-left: $label-width + 8px;
    cursor: pointer;
    display: block;
  }
  > .ico {
    display: block;
    position: absolute;
    left: 60px;
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid $main-gray-color;
    cursor: pointer;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: none;
      @include center(both);
    }
  }
}


.search-block {
  @extend .input-block;

  > .input {
    padding-right: 45px;
  }
  > .search {
    display: block;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    padding: 0 14px;
    height: $input-height;
    text-transform: uppercase;
    color: $main-color;
    font-size: 0;

    &::after {
      content: "\f002";
      font-size: 1.1rem;
      font-family: $font-icon;
    }
  }
}
