input[type="text"],
input[type="search"],
input[type="number"],
select,
textarea {
  padding: 10px;
  height: 30px;
  border: 1px solid $main-gray-color;
  line-height: 20px;
  border-radius: 0;
  color: $black;
  font-size: .8rem;
  width: 100%;
  background: none;
  appearance: none;
}
