h1 {
  font-size: 1.9rem;
  line-height: 1;
  color: $main-color;
  margin: 0 0 40px;

  @include mq($until: tablet-sm) {
    font-size: 1.4rem;
    margin-bottom: 30px;
    line-height: 2rem;
  }
  @include mq($until: mobile-lg) {
    font-size: 1.2rem;
    margin-bottom: 24px;
    line-height: 1.6rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1;
  color: $black-color;
  margin-bottom: 30px;

  @include mq($until: tablet-sm) {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 1.1rem;
  color: $main-dark-color;
  line-height: 1;
  margin-bottom: 15px;
  font-family: $font-roboto;
  font-weight: $fw-semi-bold;
}
