h1 {
  font-size: 1.9rem;
  line-height: 2rem;
  color: $main-color;
  margin-bottom: 1.5em;
  font-weight: $fw-semi-bold;
}

h2 {
  font-size: 1.5rem;
  line-height: 1;
  color: $black;
  margin-bottom: 1.2em;
  font-weight: $fw-semi-bold;

}

h3 {
  font-size: 1.1rem;
  color: $main-dark-color;
  line-height: 1.3rem;
  margin-bottom: 1em;
  font-weight: $fw-semi-bold;
}
