<div class="main-block-info-inner">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-8">
				<div class="main-block-info">
					<h2 class="head">
						<span class="colored-red">Ganzo</span> — отличное качество по лучшей цене!
					</h2>
					<div class="content">
						<p>
							<a href="myganzo.ru" class="only-line-link">myganzo.ru</a> уже много лет сотрудничает с мировым брендом <span class="ganzo-link-text">Ganzo</span>.
						</p>
						<p>
							Это сотрудничество несет в себе как экономическую выгоду: <b>лояльная цена ножей</b>, мультитулов и точилок этого бренда делает их очень популярными среди покупателей, так и социальную составляющую: мы предлагаем нашим покупателям приобретать <b>надежные инструменты</b>, которые не уступают в качестве гораздо более дорогим именитым конкурентам.
						</p>
					</div>
				</div>

			</div>
			<div class="col-md-3 col-sm-4">
				<div class="main-block-side-info">
					<div class="block">
						<div class="rectangle-info">
							<div class="rectangle">
								<i class="fa fa-truck"></i>
							</div>
							<div class="content">
								Бесплатная доставка
							</div>
						</div>

						<div class="rectangle-info">
							<div class="rectangle">
								<i class="fa fa-thumbs-o-up"></i>
							</div>
							<div class="content">
								Гарантия качества
							</div>
						</div>

						<div class="rectangle-info">
							<div class="rectangle">
								<i class="fa fa-calendar-check-o"></i>
							</div>
							<div class="content">
								Режим работы&nbsp;—
								без выходных
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-5 col-md-push-9 col-sm-push-7">
				<a href="/" title="Kuki" class="logo-footer">
					<div class="logoText">официальный дилер</div>
					<img class="logo" src="img/main-logo.jpg" alt="Kuki" width="290" height="80">
				</a>
				<div class="social-links">
					<!-- noindex -->
						<a href="#" target="_blank" class="link -vk" rel="nofollow">мы в вконтакте</a>
					<!--/ noindex -->
				</div>
			</div>
			<div class="col-md-9 col-sm-7 col-md-pull-3 col-sm-pull-5">
				<ul class="footer-menu">
					<li>
						<a href="#">Каталог</a>
					</li>
					<li>
						<a href="#">О нас</a>
					</li>
					<li>
						<a href="#">Оплата</a>

					</li>
					<li>
						<a href="#">Доставка</a>

					</li>
					<li>
						<a href="#">Контакты</a>

					</li>
				</ul>
				<div class="footer-mobile-block">
					<a href="tel:+74951090719" class="phone"><span class="-darken">+7 (495)</span> 109 07 19</a>
					<a href="tel:+78122090719" class="phone"><span class="-darken">+7 (812)</span> 209 07 19</a>
				</div>
				<div class="call-me-back-block">
					<a class="link popup-with-form" href="#call-back-form">Перезвоните мне</a>
				</div>
			</div>

		</div>
	</div>
</div>
