<div class="main-navigation-block">
  <div class="container">
    <div class="rel-block">
      <nav class="top-navigation">
        <div class="trigger-button-menu">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="top-navigation-ul">
          <li class="list top-navigation-list -include-submenu">
            <a href="#" class="link">
              Каталог
              <span class="submenu-ico"></span>
            </a>
            <!-- submenu -->
            <div class="submenu top-submenu">
              <a href="#" class="link">
                Ножи
              </a>
              <a href=# class="link">
                Мультитулы
              </a>
              <a href=# class="link">
                Точилки
              </a>
              <a href=# class="link">
                Аксессуары
              </a>
            </div>
            <!-- end submenu -->

          </li>
          <li class="list top-navigation-list">
            <a href="#" class="link">
              О нас
            </a>
          </li>
          <li class="list top-navigation-list">
            <a href="#" class="link">
              Оплата
            </a>
          </li>
          <li class="list top-navigation-list">
            <a href="#" class="link">
              Доставка
            </a>
          </li>
          <li class="list top-navigation-list">
            <a href="#" class="link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>

      <div class="cart-block">
        <a class="total total-block-cart">
          <span class="count">10</span> / <span class="price">23 712 руб.</span>
        </a>
        <div class="popupCart mini-cart-popup">
          <table class="clean-table -styled">
            <tbody>
              <tr>
                <td>
                  <a href="#">
                    <img src="img/product-img-01.jpg" alt="product-img-01" class="mini-cart-img">
                  </a>
                </td>
                <td>
                  <p>
                    <a href="#" class="like-text -smaller">
                      Нож Ganzo G704CA, камуфляж
                    </a>
                  </p>
                  <div>
                    <strong class="-bigger">1 650 руб.</strong> X <span class="-bigger">3</span>
                  </div>
                </td>
                <td class="-top">
                  <i class="fa fa-close colored-element"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img src="img/product-img-01.jpg" alt="product-img-01" class="mini-cart-img">
                  </a>
                </td>
                <td>
                  <p>
                    <a href="#" class="like-text -smaller">
                      Нож Ganzo G704CA, камуфляж
                    </a>
                  </p>
                  <div>
                    <strong class="-bigger">1 650 руб.</strong> X <span class="-bigger">3</span>
                  </div>
                </td>
                <td class="-top">
                  <i class="fa fa-close colored-element"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img src="img/product-img-01.jpg" alt="product-img-01" class="mini-cart-img">
                  </a>
                </td>
                <td>
                  <p>
                    <a href="#" class="like-text -smaller">
                      Нож Ganzo G704CA, камуфляж
                    </a>
                  </p>
                  <div>
                    <strong class="-bigger">1 650 руб.</strong> X <span class="-bigger">3</span>
                  </div>
                </td>
                <td class="-top">
                  <i class="fa fa-close colored-element"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="footer">
            <div class="row">
              <div class="col-xs-5">
                <div class="text-font lightnes-text">Сумма:</div>
                <strong class="bigger -most">14 740</strong> <strong class="third-font">руб.</strong>
              </div>
              <div class="col-xs-7">
                <a href="#" class="btn -full-width">
                  Оформить заказ
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-site">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-4 col-xs-6">
        <a href="/" title="Kuki" class="main-logo">
					<img class="img" src="img/main-logo.jpg" alt="Ganzo" title="Ganzo">
					<div class="logoText">
						официальный дилер GANZO
					</div>
				</a>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6 col-md-push-4 col-sm-push-4">
        <div class="top-phone-block">
      		<a href="tel:+74951090719" class="phone"><span class="grey">+7 (495)</span> 109 07 19</a>
      		<a href="+78122090719" class="phone"><span class="grey">+7 (812)</span> 209 07 19</a>
      	</div>
        <div class="call-me-back-block -top">
      		<a class="link popup-with-form" href="#call-back-form">Перезвоните мне</a>
      	</div>
      </div>

      <div class="col-sm-4 col-xs-12 col-md-pull-3 col-sm-pull-4">
        <form action="#" class="top-search-form">
          <div class="search-block">
            <input type="text" class="input" placeholder="Поиск">
            <button type="submit" class="search">
        			<span>Поиск</span>
        		</button>
          </div>
        </form>
        <div class="social-links -top">
      		<!-- noindex -->
      			<a href="#" target="_blank" class="link -vk" rel="nofollow">мы в вконтакте</a>
      		<!--/ noindex -->
      	</div>
      </div>

    </div>

    <h1 class="slogan-head">
      Лучшие ножи и мультитулы<br> для активного отдыха
    </h1>

    <div class="catalog-elements">
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <a href="#" class="catalog-element-link -knife">
            <div class="text">
              Ножи
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-6">
          <a href="#" class="catalog-element-link -tools">
            <div class="text">
              Инструмент
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-6">
          <a href="#" class="catalog-element-link -sharpeners">
            <div class="text">
              Точилки
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-6">
          <a href="#" class="catalog-element-link -accessories">
            <div class="text">
              Аксессуары
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
