<div class="popup-form mfp-hide" id="call-back-form">
	<h1 class="head">Заказ звонка</h1>

	<form action="#"  class="popup-form-inner">
		<div class="input-block -with-label">
			<label for="call-form-name" class="label -require">имя</label>
			<input type="text" id="call-form-name" class="element">
		</div>

		<div class="input-block -with-label">
			<label for="call-form-phone" class="label -require">телефон</label>
			<input type="text" id="call-form-phone" class="element">
		</div>
		<div class="btn-block -form-label">
			<div class="btn -fill">Отправить</div>
		</div>

	</form>
</div>


<div class="popup-form mfp-hide" id="one-click-form">
	<h1 class="head">Заказать в один клик</h1>
	<form action="#"  class="popup-form-inner">
		<p>
			Позвонить нам нет возможности? Желаете сэкономить время и не оформлять заказ через корзину? Закажите обратный звонок, заполнив форму и в ближайшее время Вам перезвонит первый же освободившийся специалист.
		</p>
		<p>
			Обратите внимание: режим работы нашего интернет-магазина ежедневно <b>с 10:00 до 19:00</b> 	по московскому времени.
		</p>
		<div class="input-block -with-label">
			<label for="call-form-name" class="label -require">имя</label>
			<input type="text" id="call-form-name" class="element">
		</div>

		<div class="input-block -with-label">
			<label for="call-form-phone" class="label -require">телефон</label>
			<input type="text" id="call-form-phone" class="element">
		</div>
		<div class="btn-block -form-label">
			<div class="btn -fill">Отправить</div>
		</div>

	</form>
</div>
