.container {
  width: $container-width;
  margin: 0 auto;

  @include mq($until: desctop-md) {
    width: 970px;
  }

  @include mq($until: tablet-lg) {
    width: 750px;
  }

  @include mq($until: mobile-lg) {
    width: 100%;
    padding: 0 15px;
  }
  
}
