.head-site {
  padding-top: $nav-height;

  @include mq($until: mobile-lg) {
    padding-top: 50px;
  }
}

.header-site {
  background: url("../img/main-page-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 35px;

  &.-inside {
    padding-bottom: 55px;
  }
}

.main-logo {
  display: inline-block;
  position: relative;

  > .img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  > .logoText {
    color: $black-color;
    font-size: .9rem;
    position: absolute;
    bottom: -15px;
    right: 0;
    font-weight: $fw-bold;
    white-space: nowrap;

    @include mq($until: mobile-lg) {
      font-size: .8rem;
      bottom: auto;
      top: -20px;
    }
    @include mq($until: mobile-sm) {
      font-size: .7rem;
    }
  }
}
