.breadcrumbs-block {
  position: relative;
  > .list {
    position: absolute;
    left: 0;
    top: -($main-top-padding + 30px);
    background: $white-color;
    padding: 18px 5px 0 0;

    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-bottom: $breadcrumbs-height solid $white-color;
      border-right: 90px solid transparent;
    }
  }
}

.breadcrumbs-list {
  font-size: 0;
  > .li {
    display: inline-block;
  }
}

.breadcrumb-element {
  margin-right: 5px;

  &::after {
    content: "/";
    margin-left: 5px;
    font-size: .8rem;
    line-height: 1;
    color: $breadcrumb-color;
  }
  > .link {
    font-size: .8rem;
    line-height: 1;
    color: $breadcrumb-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: darken($breadcrumb-color, 20);
    }

  }
}
