.dropdown-block {

  > .dropdownTrigger {
    &.active {
      + .dropdownContent {
        opacity: 1;
        visibility: visible;
        top: 110%;
        transform: rotateX(0deg);
      }
    }
  }
  > .dropdownContent {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 80%;
    background: $white-color;
    padding: 20px 0;
    transition: all ease-in-out 0.4s;
    transform: rotateX(-60deg) perspective(500px);
    transform-style: preserve-3d;
    z-index: 8;
    box-shadow: inset 0px -2px 4px rgba($main-dark-color, .1);
  }
}
.dropdown-list {
  padding: 5px 20px;
  line-height: 20px;
  cursor: pointer;
  color: $main-dark-color;
  transition: all .2s ease-in-out;

  &:hover {
    color: $white-color;
    background: $main-color;
  }
}

.dropdown-trigger {
  > .choose {
    color: $main-color;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $fw-bold;
    position: relative;
    cursor: pointer;
    font-size: 1rem;

    &::after {
      content: "\f078";
      font-family: $font-icon;
      display: inline-block;
      padding-left: 5px;
    }
  }
}
