.navigation-content {
  margin-bottom: 25px;
  font-size: 0;

  > .link {
    text-decoration: none;
    color: $black-color;
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 30px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &::after {
      content: "";
      height: 2px;
      background: $main-color;
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      transition: all .3s ease-in-out;
    }
    &.-active,
    &:hover {
      color: $main-color;

      &::after {
        width: 100%;
      }
    }
  }
}
