.mfp-bg {
  background: $white-color;
  opacity: 1;
}
.mfp-close {
  color: $main-color!important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: -30px;
  text-align: right;
  opacity: 1;
  font-weight: $fw-bold;

  &:active {
    top: -30px;
  }
}
.popup-form {
  $bottom-corner-height: 40px;
  $bottom-corner-width: 66px;

  background: $catalog-element-color;
  padding-bottom: 40px;
  position: relative;
  width: 450px;
  margin: 0 auto;

  > .head {
    $height: 30px;

    display: inline-block;
    background: $white-color;
    color: $main-dark-color;
    line-height: $height - 10px;
    height: $height;
    margin-bottom: 0;
    position: relative;
    font-size: 1.5rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-top: $height solid $white-color;
      border-right: 50px solid transparent;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: $bottom-corner-width;
    height: $bottom-corner-height;
    background: $white-color;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: $bottom-corner-width;
    width: 0;
    height: 0;
    border-bottom: $bottom-corner-height solid $white-color;
    border-left: 70px solid transparent;
  }
}

.popup-form-inner {
  padding: 0 30px;
  padding-top: 30px;
}
