.call-me-back-block {
	margin-top: 20px;

	&.-top {
		margin-top: 12px;
		text-align: right;

		> .link {
			color: $black-color;
		}
	}

	> .link {
		$margin-width: 25px;
		font-size: 16px;
		color: #fff;
		display: inline-block;
		border-bottom: 1px dashed #e31e24;
		text-transform: lowercase;
    text-decoration: none;
		font-family: $font-second;
		position: relative;
		margin-left: $margin-width;

		&::before {
			content: "\f095";
			font-family: $font-icon;
			color: $main-color;
			font-size: 1.1rem;
			display: block;
			position: absolute;
			left: -$margin-width;
			top: 0;
		}
		&:hover {
			color: $main-color;
		}
	}
}
.social-links {
	@extend .call-me-back-block;
	margin-top: 15px;
	text-align: right;

	@include mq($until: mobile-lg) {
		text-align: left;
		margin-top: 10px;
	}

	&.-top {
		margin-top: 15px;
		> .link {
			color: #000;

			&:hover {
				color: $main-color;
			}
		}
	}

	&.-contacts {
		text-align: left;

		> .link {
			display: inline-block;
			color: $black-color;
			font-size: 1rem;
			font-family: $font-second;
			font-weight: $fw-semi-bold;
		}
	}

	> .link {
		border-bottom: 1px solid #e31e24;
    text-decoration: none;

		&:hover {
			color: $main-color;
		}
		&::before {
			content: "\f1bb";
			font-family: $font-icon;
		}

		&.-vk {
			&::before {
				content: "\f189";
			}
		}
		&.-instagram {
			&::before {
				content: "\f16d";
			}
		}
		&.-mail {
			&::before {
				content: "\f003";
			}
		}
	}
}
