$mq-breakpoints: (
  mobile-xs:		400px,
  mobile-sm:		540px,
  mobile-md:		640px,
  mobile-lg:		768px - 1,

  tablet-xs:		970,

  desctop-sm:		1100px,
  desctop-md:		1400px - 1,
  desctop-lg:		1700
);
