$mq-breakpoints: (
  mobile-xs:		440px,
  mobile-sm:		540px,
  mobile-md:		640px,
  mobile-lg:		$screen-sm-min,

  tablet-sm:		860px,
  tablet-md:		900px,
  tablet-lg:		$screen-md-min,

  desctop-sm:		$screen-lg-min,
  desctop-md:		1200px,
  desctop-lg:		1700px
);
