// Кнопки
@mixin btnColor($color: $submenu-color) {
	background: $color;

	&:hover {
		background: shade($color, 20%);
	}
}

@mixin tableToBlock($width: 100%) {
	width: $width;
	display: block;
}

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;;
	}
}

@mixin verticlePosition($vertical-align: middle){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: $vertical-align;
    height: 100%;
    width: 0;
  }
}

@mixin truncateText($overflow: ellipsis, $max-width: 320px){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
  max-width: $max-width;
  display: inline-block;
}

// убираем стандартное форматирование у ссылок и задаем им цвет

@mixin link-decor($color: $second-color, $hover-color: $hover-link-color, $visited-color: $visited-link-color ) {
  text-decoration: none;
  color: $color;

  &:hover,
  &:active,
  &:focus {
    color: $hover-color;
  }

  &:visited {
    color: $visited-color;
  }
}


// Кросбарузерный opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}



// Относительное Центрирование  @include center(both);
@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  }

  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* mixin for retina background images */
@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
      @if $height == none {
        background-size: $width;
      } @else {
        background-size: $width $height;
      }
    }
  }
}

// Example
#foo {
  @include background-image-retina('foobar', 'png', 10px, 20px);
  background: repeat;
}


@mixin ico-center($file, $padding-left, $background-position, $with, $height, $type) {
	background-image: url("../img/" + $file + "." + $type);
	background-repeat: no-repeat;
	background-size: $with $height;
	background-position: $background-position center;
	padding-left: $padding-left;
}
