// ==++== Main colors ==++==
$main-color: #ff4544;
$second-color: #4a4a4a;
$head-color: #111718;
$text-color: $second-color;
$white: #fff;
$black: #000;
$main-gray-color: #ccc;
$main-dark-color: #333;
$footer-bg: $black;

$main-radius: 3px;

// ==++== Size of container ==++==
$container-width: 1254px;
$min-width      : 320px;

$container-lg   : 900px;
$container-sm   : 620px;
$container-xs   : 280px;
$min-width      : 320px;

// ==++== Table comparison ==++==
$compare-width: 340px;

// ==++== Footer ==++==
$footer-height: 40px;

// Z-index
$z-index: (
  "modal"      : 200,
  "navigation" : 100,
  "footer"     : 90,
  "dropdown"   : 20,
  "tooltip"    : 10,
  "default"    : 1,
  "below"      : -1,
);
